<!-- wp:lps-theme/header {"lock":{"move":true,"remove":true}} /-->
<!-- wp:lps-theme/breadcrumbs {"lock":{"move":true,"remove":true}} /-->
<!-- wp:group {"tagName":"main","anchor":"lps-main","className":"lps-main-content lps-page-grid","lock":{"move":true,"remove":true},"layout":{"type":"default"}} -->
<main id="lps-main" class="wp-block-group lps-main-content lps-page-grid"><!-- wp:lps-theme/archive-title {"lock":{"move":true,"remove":true}} /--><!-- wp:query {"query":{"perPage":10,"postType":"post","inherit":true},"lock":{"move":true,"remove":true}} --><div class="wp-block-query"><!-- wp:post-template --><!-- wp:post-title {"isLink":true,"level":2} /--><!-- wp:post-excerpt /--><!-- /wp:post-template --><!-- wp:query-no-results {"lock":{"move":true,"remove":true}} --><!-- wp:lps-theme/empty-state /--><!-- /wp:query-no-results --></div><!-- /wp:query --></main>
<!-- /wp:group -->
<!-- wp:lps-theme/footer {"lock":{"move":true,"remove":true}} /-->
