<!-- wp:lps-theme/header {"lock":{"move":true,"remove":true}} /-->
<!-- wp:group {"tagName":"main","anchor":"lps-main","className":"lps-main-content lps-page-grid lps-home","templateLock":"all","lock":{"move":true,"remove":true},"layout":{"type":"default"}} -->
<main id="lps-main" class="wp-block-group lps-main-content lps-page-grid lps-home">
<!-- wp:lps-theme/homepage {"section":"mission","lock":{"move":true,"remove":true}} /-->
<!-- wp:lps-theme/homepage {"section":"journeys","lock":{"move":true,"remove":true}} /-->
<!-- wp:lps-theme/homepage {"section":"research","lock":{"move":true,"remove":true}} /-->
<!-- wp:lps-theme/homepage {"section":"projects","lock":{"move":true,"remove":true}} /-->
<!-- wp:lps-theme/homepage {"section":"people","lock":{"move":true,"remove":true}} /-->
<!-- wp:lps-theme/homepage {"section":"infrastructure","lock":{"move":true,"remove":true}} /-->
<!-- wp:lps-theme/homepage {"section":"latest","lock":{"move":true,"remove":true}} /-->
<!-- wp:lps-theme/homepage {"section":"partners","lock":{"move":true,"remove":true}} /-->
</main>
<!-- /wp:group -->
<!-- wp:lps-theme/footer {"lock":{"move":true,"remove":true}} /-->
