<!-- wp:lps-theme/header {"lock":{"move":true,"remove":true}} /-->
<!-- wp:lps-theme/breadcrumbs {"lock":{"move":true,"remove":true}} /-->
<!-- wp:group {"tagName":"main","anchor":"lps-main","className":"lps-main-content lps-page-grid","lock":{"move":true,"remove":true},"layout":{"type":"default"}} -->
<main id="lps-main" class="wp-block-group lps-main-content lps-page-grid"><!-- wp:post-title {"level":1,"lock":{"move":true,"remove":true}} /--><!-- wp:lps-theme/trust {"lock":{"move":true,"remove":true}} /--></main>
<!-- /wp:group -->
<!-- wp:lps-theme/footer {"lock":{"move":true,"remove":true}} /-->
