<!-- wp:lps-modern/header {"lock":{"move":true,"remove":true}} /-->
<!-- wp:group {"tagName":"main","anchor":"lpsx-main","className":"lpsx-main","templateLock":"all","lock":{"move":true,"remove":true},"layout":{"type":"default"}} -->
<main id="lpsx-main" class="wp-block-group lpsx-main">
<!-- wp:lps-modern/home {"section":"hero","lock":{"move":true,"remove":true}} /-->
<!-- wp:lps-modern/home {"section":"journeys","lock":{"move":true,"remove":true}} /-->
<!-- wp:lps-modern/home {"section":"research","lock":{"move":true,"remove":true}} /-->
<!-- wp:lps-modern/home {"section":"projects","lock":{"move":true,"remove":true}} /-->
<!-- wp:lps-modern/home {"section":"about","lock":{"move":true,"remove":true}} /-->
<!-- wp:lps-modern/home {"section":"people","lock":{"move":true,"remove":true}} /-->
<!-- wp:lps-modern/home {"section":"infrastructure","lock":{"move":true,"remove":true}} /-->
<!-- wp:lps-modern/home {"section":"latest","lock":{"move":true,"remove":true}} /-->
<!-- wp:lps-modern/home {"section":"partners","lock":{"move":true,"remove":true}} /-->
<!-- wp:lps-modern/home {"section":"contact","lock":{"move":true,"remove":true}} /-->
</main>
<!-- /wp:group -->
<!-- wp:lps-modern/footer {"lock":{"move":true,"remove":true}} /-->
