<!-- wp:lps-modern/header {"lock":{"move":true,"remove":true}} /-->
<!-- wp:group {"tagName":"main","anchor":"lpsx-main","className":"lpsx-main lpsx-wrap lpsx-prose","templateLock":"all","lock":{"move":true,"remove":true},"layout":{"type":"default"}} -->
<main id="lpsx-main" class="wp-block-group lpsx-main lpsx-wrap lpsx-prose">
<!-- wp:lps-modern/breadcrumbs {"lock":{"move":true,"remove":true}} /-->
<!-- wp:query-title {"type":"search","lock":{"move":true,"remove":true}} /-->
<!-- wp:query {"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"lock":{"move":true,"remove":true},"layout":{"type":"default"}} -->
<div class="wp-block-query">
<!-- wp:post-template {"lock":{"move":true,"remove":true},"layout":{"type":"default"}} -->
<!-- wp:post-title {"isLink":true,"lock":{"move":true,"remove":true}} /-->
<!-- wp:lps-modern/post-metadata {"lock":{"move":true,"remove":true}} /-->
<!-- wp:post-excerpt {"lock":{"move":true,"remove":true}} /-->
<!-- /wp:post-template -->
<!-- wp:query-pagination {"lock":{"move":true,"remove":true},"layout":{"type":"flex","justifyContent":"space-between"}} -->
<!-- wp:query-pagination-previous {"lock":{"move":true,"remove":true}} /-->
<!-- wp:query-pagination-numbers {"lock":{"move":true,"remove":true}} /-->
<!-- wp:query-pagination-next {"lock":{"move":true,"remove":true}} /-->
<!-- /wp:query-pagination -->
<!-- wp:query-no-results {"lock":{"move":true,"remove":true}} -->
<!-- wp:lps-modern/empty-state {"lock":{"move":true,"remove":true}} /-->
<!-- /wp:query-no-results -->
</div>
<!-- /wp:query -->
</main>
<!-- /wp:group -->
<!-- wp:lps-modern/footer {"lock":{"move":true,"remove":true}} /-->
