<!-- wp:lps-modern/header {"lock":{"move":true,"remove":true}} /-->
<!-- wp:group {"tagName":"main","anchor":"lpsx-main","className":"lpsx-main lpsx-wrap lpsx-prose","templateLock":"all","lock":{"move":true,"remove":true},"layout":{"type":"default"}} -->
<main id="lpsx-main" class="wp-block-group lpsx-main lpsx-wrap lpsx-prose">
<!-- wp:lps-modern/breadcrumbs {"lock":{"move":true,"remove":true}} /-->
<!-- wp:post-title {"level":1,"lock":{"move":true,"remove":true}} /-->
<!-- wp:lps-modern/post-metadata {"lock":{"move":true,"remove":true}} /-->
<!-- wp:post-content {"lock":{"move":true,"remove":true},"layout":{"type":"default"}} /-->
</main>
<!-- /wp:group -->
<!-- wp:lps-modern/footer {"lock":{"move":true,"remove":true}} /-->
